@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  background-color: #f0e2e2;
}

.navbar {
    background-color: white;
}


.navBtns{

    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #4e8ce9;

}

.dark {
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #222526;
}
.contact{
font-family: 'Satoshi', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
text-transform: uppercase;
color: white;
padding: 15px 28px;
background: linear-gradient(90deg, #2FAAFA 0%, #1F8BF4 100%);
border-radius: 14px;
filter: drop-shadow(0px 14px 40px rgba(31, 138, 244, 0.29));
}

.contact:hover{
    filter: drop-shadow(0px 20px 42px rgba(31, 138, 244, 0.492));
    transform: scale(1.05);
}

.Top-Heading{
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin-top: -80px;
  margin-bottom: 20px;
  color: #FF765E;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

hr {
  height: 1px;
  width: 5%;
  border-style: none;
  border-color: rgb(181, 181, 181);
  border-top-style: dotted;
  border-top-width: 7px;
}

.menu {
    display: flex;
    gap: 1em;
    background-color: #000000;
}

.menu a {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    border-right: 2px solid white;
    padding-right: 25px;
}



.menu li a:hover {
    background-color: white;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.menu li {
    list-style: none;
}

.top {
    color: rgb(190, 14, 14);
}

.img {
    height: 40%;
}

.read {
    color: rgb(190, 14, 14);
}

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #000000;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #000000;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #000000;
        cursor: pointer;
    }

    .menu a {
        border: none;
        background-color: #000000;
        color: rgb(255, 255, 255);
    }

    .img img {
        width: 100%;

    }
} 

.news-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    position: absolute;
    top: 70px;;
    
}

.news-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img img {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: 500px;
  border-radius: 24px;
  padding: 16px 15px 115px 15px ;
  margin: auto;
  background-color: #FFFFFF;
  border: 1px solid #2292F5;
  box-shadow: 0px 12px 35px rgba(180, 177, 202, 0.2);
  border-radius: 32px;
 
  
}

#world_news {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.world_news p {
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

.news-heading1 {
    font-size: 30px;
    font-weight: bolder;
    background-color: antiquewhite;
    padding: 20px;
}

/* #news {
   
    margin-top:65px;
    margin-left:auto ;
    margin-right:auto;
    display: grid;
    grid-template-columns: auto auto;
    
    /* place-items: center; */
    /* box-sizing: border-box; */
    /* width: 390.69px; */
    /* height: 462px; */

 #news{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    }
#news .card{
  background-color: #0c0a37;
    color: #ffffff;
    border: 5px solid #555;
  }

#news .card p {
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: justify;
    
}
#news a {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-transform: capitalize;
    color: #fefcfc;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    
}
#news a.btn{
    text-align: center;
    margin-left: 40px;
}

.card:hover{
  transform: scale(1.15);
  transition: 0.5s;
  box-shadow: 0px 10px 20px rgba(0,0,0,12), 0 4px 8px rgba(0,0,0,.06);
}

.footer {
    background-color:  #218ef5;
    height: 230px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 28px;
    gap: 2em;
    box-shadow: 0px 14px 40px rgb(96, 136, 222);

}


.footer li {
    list-style: none;
    margin-top: 10px;
    font-size: 1.2em;
}

.footer li a {
    
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }


#b,
#c,
#a {
  color: whitesmoke;
}

.footer-content {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    bottom: 0;
    display: block;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-items: baseline;
    margin: auto;
   margin: 0; 
   color:rgb(60, 70, 213);
   background-color:#ffffff;
   }



  .icon-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #218ef5;
  }
  .icon-container .button {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0px 5px;
    background-color: #ffff;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 300ms ease-out;
  }
  .icon-container .button:nth-child(1):hover .icon {
    background: #4267b2;
  }
  .icon-container .button:nth-child(2):hover .icon {
    background: radial-gradient(
      circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf
    );
  }
  .icon-container .button:nth-child(3):hover .icon {
    background: #333;
  }
  .icon-container .button:nth-child(4):hover .icon {
    background: #ff0000;
  }
  .icon-container .button:nth-child(5):hover .icon {
    background: #0077b5;
  }
  .icon-container .button:hover {
    width: 200px;
  }
  .icon-container .button .icon {
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    color: black;
  }
  .icon-container .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 300ms ease-out;
  }
  .icon-container .button:hover .icon i {
    color: #ffff;
  }
  .icon-container .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 300ms ease-out;
  }
  .icon-container .button:nth-child(1) span {
    color: #4267b2;
  }
  .icon-container .button:nth-child(2) span {
    color: #8a3ab9;
  }
  .icon-container .button:nth-child(3) span {
    color: #333;
  }
  .icon-container .button:nth-child(4) span {
    color: #ff0000;
  }
  .icon-container .button:nth-child(5) span {
    color: #0077b5;
  }
  

.hovereffect:hover{
  color: #000000;
}

#a, #b, #c{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;   
}


.toggle{
  width: 40px;
  height: 22px;
  margin-left: 25px;
  background-color: whitesmoke;
  border-radius: 30px;     
  display: flex;
  align-items: center;
  justify-content:  space-around;
  position: relative;

}

.toggle-icon{
  color: goldenrod;
}



.toggle-ball{

  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;

}
body.active{
  background-color: rgb(5, 0, 0);
}
main.active{
  background-color: rgb(5, 0, 0);
}
.container.active{
  background-color:rgb(2, 0, 0);
}
div.active{
  background-color: #000000;
}

ul.active{
  background-color: #000000;
}
.footer.active{
  background-color: #000000;
}
 .hovereffect.active{
  color: white;
 }
.button.active{
  background-color:blueviolet ;
}
.social.active{
  color: white;
}
.icon-container.active{
  background-color: #000000;
}
nav{
  font-weight: bold;
}
.navHai.active{
  background-color: #000000;
}
.toggle.active{
  background-color: black;
}

.toggle-ball.active{
  background-color: white;
  transform: translateX(-20px);
}

.Top-Heading.active{
  font-family:'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin-top: -80px;
  margin-bottom: 20px;
  color: #fbfaf9;
  }

.dark.active{
  color: white;
  
}
/* News loading error text styles */
.error-container {
  max-width: 80vw;
  padding: 2rem;
  margin: 3rem 5rem 5rem 5rem;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}


/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #070329;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #061051; 
}

#data:hover{
    background-color: #d1e7ef;
}

.preloader{
  background: white url(Assets/loader4.gif)  no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

